@page "/asistencia/entrada"
@using AppAsist.Client.Servicios
@inject IHttpServicio http
@inject NavigationManager navigationManager

<h3>Registrar Entrada</h3>

<EditForm Model="entradaModel" OnValidSubmit="RegistrarEntrada">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Código QR</label>
        <div>
            <InputText class="form-control" @bind-Value="@entradaModel.CodigoQR" />
            <ValidationMessage For="@(() => entradaModel.CodigoQR)" />
        </div>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Registrar Entrada</button>
    <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
</EditForm>

@code {
    private EntradaModel entradaModel = new EntradaModel();

    private async Task RegistrarEntrada()
    {
        var httpRespuesta = await http.Post<string>("api/Asistencia/entrada", entradaModel.CodigoQR);
        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
            // Manejo de errores
        }
        else
        {
            // Si la entrada fue registrada correctamente, navega a la vista principal de asistencia
            navigationManager.NavigateTo("/asistencia");
        }
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/asistencia");
    }

    public class EntradaModel
    {
        public string CodigoQR { get; set; }
    }
}
