@page "/registrar-miembro"
@using AppAsisten.Shared.DTO
@inject IHttpServicio http
@inject NavigationManager navigationManager
@inject IJSRuntime js

<h3>Registrar Miembro</h3>

<EditForm Model="miembroInfo" OnValidSubmit="RegistrarMiembro">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <InputText id="nombre" class="form-control" @bind-Value="miembroInfo.Nombre" />
        <ValidationMessage For="@(() => miembroInfo.Nombre)" />
    </div>

    <div class="form-check mb-3">
        <InputCheckbox id="activo" class="form-check-input" @bind-Value="miembroInfo.EstaActivo" />
        <label for="activo" class="form-check-label">Activo</label>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
</EditForm>

@if (!string.IsNullOrEmpty(codigoGenerado))
{
    <div class="alert alert-success mt-3">
        <strong>Miembro registrado con éxito.</strong><br />
        Tu código de asistencia es: <b>@codigoGenerado</b>
    </div>
}

@code {
    private MiembroDTO miembroInfo = new MiembroDTO();
    private string codigoGenerado;

    private async Task RegistrarMiembro()
    {
        var httpRespuesta = await http.Post<MiembroDTO, MiembroDTO>("api/Miembro/registrar-miembro", miembroInfo);
        if (httpRespuesta.Error)
        {
            var msg = await httpRespuesta.ObtenerError();
            await js.Confirmar(msg);
        }
        else
        {
            var miembroRegistrado = httpRespuesta.Respuesta;
            codigoGenerado = miembroRegistrado.CodigoQR; // Mostrar el código numérico generado
        }
    }
}
